/**
 * Fonts
 */
$font-sans-serif: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

/**
 * Colors
 */
$color-primary:   #ed7149;
$color-dark:      #373841;
$color-light:     #fff;

$color-error:     #ca3a4e;
$color-success:   #30be76;

/**
 * Borders
 */
$border-width:      3px;
$border-width-thin: 2px;

/**
 * Media Query Breakpoints
 */
$mq-xxsmall: 24em;  // Phones (Landscape) - anything smaller is in portrait
$mq-xsmall:  40em;  // Tablet
$mq-small:   64em;  // Netbook
$mq-medium:  80em;  // Laptop
$mq-large:   100em; // Mid Size monitor
$mq-xlarge:  120em; // Desktop
$mq-xxlarge: 140em; // Thunderbolt
